.nav {
  height: 50px;
  width: 100%;
  background-color: #181818;
  position: relative;

  .nav-btn {
    display: none; /*Hide toggle button for desktop*/
  }
  #nav-check {
    display: none;
  }

  .nav-header {
    display: inline;

    .nav-title {
      display: inline-block;
      padding: 10px;
      font-size: 22px;
      color: #ffd700;
      font-weight: 550;
    }
  }

  .nav-links {
    font-size: 18px;
    display: inline;
    float: right;

    ul {
      list-style: none;
      position: relative;
      padding: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 5px;

      li {
        display: inline-block;
        margin: 2px;

        a:not(.active):hover {
          border-bottom: 2px solid #ffd700;
        }

        a {
          color: #ffd700;
          line-height: 40px;
          font-size: 18px;
          display: block;
          padding: 0 8px;
          text-decoration: none;
        }

        a.active {
          border-bottom: 2px solid #ffd700;
        }
      }

      i.icon {
        a {
          padding: 6px;
          &:hover .fa-icon {
            color: #ffd700;
          }
        }
        margin-left: 80px;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    height: 50px;
    padding: 13px;
    display: inline-block;
    width: 50px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    height: 10px;
    border-top: 2px solid #eee;
    display: block;
    width: 25px;
  }
  .nav > .nav-links {
    position: absolute;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    display: block;
    width: 100%;
    background-color: #333;
    left: 0px;
  }
  .nav > .nav-links > ul li a {
    display: block;
    width: 100%;
  }

  /*   */

  .nav > .nav-links > ul li {
    padding: 0;
    background-color: #333;
    display: block;
    margin-bottom: 20px;
  }
  .nav > .nav-links > ul li a {
    margin-left: 40%;
  }
  .nav .nav-links ul a.icon {
    margin-left: 33%;
  }

  /*   */
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
